:root{
  --purple:#4B2D6A;
  --pink:#EFBCD5;
  --dark:#403F4C;
  --soft:#faf7fb;
}

body{
  font-family: "legitima", serif;
  color: var(--dark);
}

.navbar{
  background-color: var(--purple);
}

.hero{
  background: linear-gradient(135deg,var(--pink),#e6d8ff);
  padding:120px 0 80px;
  margin-top:56px;
}

.section{
  padding:80px 0;
}

.bg-soft{
  background: var(--soft);
}

.profile-img{
  max-width:260px;
  border-radius:16px;
}

.skills span{
  display:inline-block;
  background:rgba(75,45,106,0.1);
  padding:8px 14px;
  margin:6px;
  border-radius:30px;
  font-size:14px;
}

.project-card{
  background:white;
  padding:35px;
  border-radius:18px;
  box-shadow:0 10px 25px rgba(0,0,0,0.05);
  height:100%;
}

.resume-box{
  background:white;
  padding:40px;
  border-radius:18px;
  box-shadow:0 10px 25px rgba(0,0,0,0.05);}

html, body {
  height: auto !important;
  overflow-y: auto !important;
}

body {
  position: static !important;
}
#carouselExample {
  max-width: 700px;   /* controls size */
  margin: 0 auto;     /* centers it */
}

#carouselExample img {
  width: 100%;
  height: auto;        /* keeps full image */
  max-height: 300px;   /* controls overall size */
  object-fit: contain; /* shows entire image */
  background: #fff;    /* fills empty space nicely */
}
/* Make carousel arrows purple */
.carousel-control-prev-icon,
.carousel-control-next-icon {

  filter: invert(21%) sepia(28%) saturate(1200%)
          hue-rotate(235deg) brightness(90%) contrast(95%);
}
